*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle-user-home/

ml/data/processed/
ml/data/unzip/
ml/scripts/env
ml/models/model_sleep.h5
ml/models/model.tflite
ml/models/labelsIO.txt
ml/data/raw/*
ml/RAG/mi_base_de_datos
!ml/data/raw/.gitkeep